<div class="footer">
    <div class="row align-items-center">
      
      <div class="col">
       <figure class="logo"><a href="/"><img src="/assets/images/logov2.png" alt="Reseptiruletti logo"></a>
        <h4>© 2023</h4>
      </figure>
      </div>
      
      <div class="col">
        <ul class="somelinks">
            <li><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
            <li><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
            <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
        </ul>
        
      </div>
    </div>
  </div>
