#recipe-name {
    position: relative;
    padding: 1rem;
    border-right: solid 1rem #6CC8E1;
    border-left: solid 1rem #6CC8E1;
    border-bottom: solid 1rem #6CC8E1;
}

.container {
    display: flex;
}

figure {
    order: 1;
    object-position: left;
    max-width: 200px;
}

img {
    max-width: 100%;
    }

.recipe {
    order: 2;
    padding-left: 1rem;
}

h2 {
    color: #6CC8E1;
}

.ostoslista-btn {
    text-align: center; 
    margin: 2rem 0 1rem; 
}