.roulette {
    background-color: #6CC8E1;
    display: grid;
    justify-content: center;
    padding-bottom: 1rem;
}
.roulette h3 {
    font-weight: bold;
    text-align: center;
    margin: 1rem 0rem 0rem 0rem;
}
.rouletteBoxes {
    padding: .6rem 0;
    display: flex;
    justify-content: center;
}
label {
    font-size: 1rem;
}
.rouletteButton {
    display: flex;
    justify-content: center;
}
.roulette button {
    max-width: 100px;
}