.roulette {
    background-color: #6CC8E1;
    display: grid;
    justify-content: center;
    padding-bottom: 1rem;
}
.roulette h1 {
    text-align: center;
    margin: 0.5rem 0rem 0rem 0rem;
}
.rouletteBoxes {
    padding: 1rem;
}
label {
    font-size: 1.0rem;
}
.rouletteButton {
    display: flex;
    justify-content: center;
}
.roulette button {
    max-width: 100px;
}