<section class="roulette">
    <h1>Valitse ruokavalio</h1>
    <mat-radio-group class="rouletteBoxes" aria-label="Select an option">
        <mat-radio-button value="1" id="checkMeat">Liha</mat-radio-button>
        <mat-radio-button value="2" id="checkFish">Kala</mat-radio-button>
        <mat-radio-button value="3" id="checkVege">Kasvis</mat-radio-button>
        <mat-radio-button value="4" id="checkVegan">Vegaaninen</mat-radio-button>
    </mat-radio-group>
    <section class="rouletteButton">
    <button mat-raised-button color="accent">Ruletti</button>
    </section>

     <!--
    <article id="recipe-name">
        <h1>Tänään syödään: </h1>
        <section class="container">
          <figure>
            <img src="https://source.unsplash.com/100x100/?food" alt="kuva ateriasta"/>
          </figure>
          <section class="recipe">
            <h2>{{selected.name}}</h2>
          <hr>
          <h5>Resepti: </h5>
            <p>{{selected.ohje}}</p>
          </section>
        </section>
       
        <section class="ostoslista-btn">
            <button mat-raised-button color="accent" 
            (click)="onShowShoppingList()">Tee ostoslista</button>   
        </section>
    
      </article>
      -->

</section>
