.roulette {
    background-color: #6CC8E1;
    display: grid;
    justify-content: center;
}
.roulette h1 {
    text-align: center;
    margin: 0.5rem 0rem 0rem 0rem;
}
.rouletteBoxes {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
}
.rouletteButton {
    display: flex;
    justify-content: center;
}
.roulette button {
    max-width: 100px;
}