.strikethrough {
    text-decoration: line-through;
}

button {
    background-color: #84c6de;
}

table tr {
    padding: 25px;
}
.container {
    padding: 25px 0 0 25px;
    max-width: 500px;
    margin: auto;
}

  