.strikethrough {
    text-decoration: line-through;
}

button {
    background-color: #84c6de;
}

.wrapper {
    background-color: #59595b;
}
.main {
    padding: 25px 0 25px 25px;
    max-width: 400px;
    margin: auto;
}
table td, th {
    color: white;
}
table td {
    padding-top: 5px;
}
table th {
    padding-bottom: 10px;
}
.form-check{
    padding-top: 5px;
}
.main h1 {
    color: #84c6de;
}
.form-check-input {
    background-color: #84c6de;
}
.btn {
    margin-bottom: 50px;
}