<section class="container">
    <h1>Ostoslista</h1>
    <table class="table ">
        <thead>
            <tr>
                <!-- <th  *ngFor="let header of headers">{{ header }}</th >-->
                <th>Sillisalaatti</th>
            </tr>
        </thead>
        <!-- <tr *ngFor="let indegrient of ingredients"> -->
        <tr>
            <!-- <td {{ indegrient }}</td> -->
            <td>Silliä</td>
        </tr>
    </table>
    <button class="btn btn-info">Lähetä Sähköpostiin</button>
</section>
