#recipe-name {
    position: relative;
    padding: 1rem;
    border: solid 1rem #6CC8E1;
}

.container {
    display: flex;
}

figure {
    order: 1;
    object-position: left;
}

/*img {
    width: 100%;
    height: auto;}*/

.recipe {
    order: 2;
    padding-left: 1rem;
}

h2 {
    color: #6CC8E1;
}

.ostoslista-btn {
    text-align: center; 
    margin: 2rem 0 1rem; 
}