<p>Testi resepti-komponentissa:</p>

<div *ngFor="let recipe of chosenRecipe | async">
  <p>{{ recipe.name }}</p>
  <p>{{ recipe.ohje }}</p>
</div>

<article id="recipe-name">
    <h1>Tänään syödään: </h1>
    <section class="container">
      <figure>
        <img src="https://source.unsplash.com/100x100/?food" alt="kuva ateriasta"/>
      </figure>
      <section class="recipe">
        <h2> chosenRecipe.name }}</h2> <!-- Ruoan nimi tähän -->
      <hr>
      <h5>Resepti: </h5>
        <p> chosenRecipe.ohje }}</p> <!-- Resepti tähän -->
      </section>
    </section>
    <section class="ostoslista-btn">
        <button mat-raised-button color="accent" 
        (click)="onShowShoppingList()">Tee ostoslista</button>   
    </section>

  </article>

<app-shopping-list *ngIf="showShoppingList"></app-shopping-list>