<article id="recipe-name">
    <h1>Tänään syödään: </h1>
    <section class="container">
      <figure>
        <img src="https://source.unsplash.com/100x100/?food" alt="kuva ateriasta"/>
      </figure>
      <section class="recipe">
        <h2>Ruoan nimi</h2>
      <hr>
      <p>Resepti: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo deserunt nostrum similique molestias est quidem at! Earum ipsam amet, expedita suscipit sint laboriosam itaque consectetur aperiam quisquam necessitatibus eius ut incidunt impedit veniam odio, maxime tempore id non facilis unde nobis cum! Id eaque nobis perspiciatis voluptatem alias molestias quasi.</p>
      </section>
    </section>
  </article>
