body,
html {
  height: 100%;
  position: relative;
}

.wrap {
  min-height: 100%;
  display: block;
  position: relative;

}

app-roulette {
  display: block;
  padding-bottom: 8rem;
  width: 50%;
  margin: 0 auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}



/* Footeria ja sisällön erottamista varten pienemmässä kuin 420px näytössä */
@media screen and (max-width: 420px) {
  app-roulette {
    display: block;
    padding-bottom: 12rem;
  }
}
