body,
html {
  height: 100%;
}

.bg {
  position: relative;
  min-height: 100%;
  background-image: url("/assets/images/headerbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrap {
  padding-bottom: 3rem;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  margin-bottom: -3rem;
}