<section *ngFor="let recipe of chosenRecipe | async" class="wrapper">  
    <section class="main">
      <h1>Ostoslista</h1>
      <table class="table">
        <thead>
          <tr>
            <h2>{{ recipe.name }}</h2> 
          </tr>
        </thead>
        <tr *ngFor="let ingredient of ingredients">
            <td [ngClass]="{ 'strikethrough': ingredient.isStrikethrough }">{{ ingredient.name }}</td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="ingredient.isStrikethrough">
            </div>
          </tr>
      </table>
    </section>
  </section>